<!DOCTYPE html>
<html lang="en">
<head>
<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width, initial-scale=1">
<title>Login</title>
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
<link href="/public/login.css" rel="stylesheet">
<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script> 

</head>
<body>
<div class="login-form">
    
		
        <h2 class="text-center">Login</h2>   
        <div class="form-group">
        	<input  type="text" class="form-control" id= "login-name" name="username" placeholder="Username" required="required">
        </div>
		<div class="form-group">
            <input id= "password" type="text" class="form-control" name="password" placeholder="Password" required="required">
        </div>
        <div class="form-group">
                <select id= "admin" class="form-control" name="username" placeholder="Admin" required="required">
                <option class="form-control" value='0'>User</option>
                <option class="form-control" value='1'>Admin</option>
                </select>
            </div>        
        <div class="form-group">
            <button  class="btn btn-primary btn-lg btn-block btn-sign-in">Sign in</button>
        </div>
		<div class="clearfix">
            <label class="pull-left checkbox-inline"><input type="checkbox"> Remember me</label>
            <a href="#" class="pull-right">Forgot Password?</a>
        </div>
    
    <p class="text-center small">Don't have an account? <a href="#"  class="register">Sign up here!</a></p>
</div>
</div>
<script src="https://code.jquery.com/jquery-3.4.1.js" integrity="sha256-WpOohJOqMqqyKL9FccASB9O0KwACQJpFTUBLTYOVvVU="
    crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"
    integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1"
    crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"
    integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM"
    crossorigin="anonymous"></script>
<script src="public/jquery.js" type="text/javascript"></script>


<script>


        $('.btn-sign-in').click(function () {
            var User = { name: '', password: '', email: '', admin: ''}

            User.name = $("#name").val()
            User.password = $("#password").val()
            User.admin = $("#admin").val()
            console.log(User)
            $.ajax({
                method: "GET",
                url: '/user_login',
                data: User
            }).done(function (response) {
                // window.localStorage.setItem('users',JSON.stringify(response.user))
                // var getuser = JSON.parse(window.localStorage.getItem('users'))
                //$.each(cart_items,function(i,val){ 
                // $.ajax({
                //     method: "GET",
                //     url: '/',
                //     data: '3'
                // }).done(function (response) {
                //     console.log(response)
                //     var cartbutton = window.open("/home", "_self");
                //     // $(w.document.body).html(response);
                // }).fail(function (response) {
                //     console.log(response)
                // })
                //ya = JSON.stringify(response.User[0])
                //console.log((response.user))
                var getuser = response.user
                console.log(getuser)
                 $.each(getuser,function(i,val){
                     //console.log(User.password)
                     if(getuser[i].name == User.name)
                     {
                         if(getuser[i].password == User.password && getuser[i].admin == User.admin){
                            window.open("/home", "_self")

                         }
                        
                     }
                 })
                

                
 
            }).fail(function (response) {
                console.log(response)
            })

        })
    $('.register').click(function(){
        $.ajax({
            method: "GET",
            url: '/new_user_register',
           // data: User
        }).done(function (response) {
            //console.log(response)
            window.open("/new_user_register", "_self");
        }).fail(function (response) {
            console.log(response)
        })
    })
</script>


</body>
</html>                            